* {
    font-family: Helvetica;
}

h1 {
    text-align: center;
}

.form,
.books-container {
    text-align: center;
    width: 450px;
    margin: 0 auto;
    
}

.form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: .5em;
    text-align: center;
    
}

.form-control label {
    font-weight: bold;
    margin-bottom: 0.5em;
}

.form-control input {
    padding: 5px;
}

/*books*/

.books-container div {
    border-bottom: solid 1px #CCC;
    padding: 5px;
    margin: 5px;
}

.bold {
    font-weight: bold;
}